*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.heading {
  display: flex;
}
h1 {
  font-size: 20px;
  margin-top: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre-line;
}
h2 {
  margin: 30px 0 0 20px;
  font-size: 14px;
  font-family: sans-serif;
  color: #555;
}
.site img {
  width: 60px;
  height: 50px;
  margin: 10px 0 0 15px;
  border: 2px #a1a19d;
  border-style: groove;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.search input {
  width: 500px;
  height: 30px;
  border: 2px #a1a19d;
  border-style: groove;
  padding-left: 10px;
  border-radius: 7px;
  outline: none;
}
input:focus {
  border-color: rgb(241, 239, 78);
}
