*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.f1 {
  margin: 20px;
  background-color: rgb(255, 255, 255);
  width: min-content;
  color: rgb(100, 96, 96);
  border: 1px solid rgb(189, 189, 189);
  border-style: ridge;
  display: inline-flex;
  gap: 2px;
  border-radius: 6px;
}

.option input {
  display: none;
}
.option:has(input:checked) {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 253, 253);
  border-radius: 4px;
}
.option {
  cursor: pointer;
  padding: 8px 14px;
}
.option:hover {
  background-color: rgb(204, 202, 202, 0.5);
  border-radius: 8px;
}
.heading {
  display: block;
}
.heading:hover {
  height: 23px;
  background-color: rgb(212, 39, 39);
  border-radius: 8px;
}
.links a {
  display: block;
}
.links {
  margin: 10px;
}
a:link {
  color: rgb(221, 147, 57);
}
a:visited {
  color: rgb(107, 206, 107);
}
.list li:nth-child(odd) {
  background-color: rgb(91, 192, 199);
}
.list li:nth-child(3n) {
  background-color: forestgreen;
}
.gen {
  width: max-content;
  display: flex;
  flex-direction: column;
  margin: 7px 7px;
  border: 1px solid black;
  border-radius: 2px;
}
button:hover::after {
  content: " →";
}
.letter::first-letter {
  font-size: 2em;
  color: crimson;
}
.list {
  margin-left: 17px;
}
.ent {
  color: aquamarine;
}
